<% provide(:title, "FIGHTER!You can take them!") %>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %></title> 
    </head>
    <body>
        <h1>Fighter! You can take 'em!</h1>
        <ul>
            <li><%= link_to "SignUp", signup_path%></li>
        </ul>
        <p>Home page for the Fighter website</p>
    </body>
</html>
