<% provide(:title, "FIGHTER!People you can take!") %>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %></title>
    </head>
    <body>
        <h1>Sign Up page for Fighter</h1>
        <p>SIGN UP NOW!</p>
    </body>
</html>
